<div>
  <h2 id="page-heading" data-cy="ProfiloRistoratoreHeading">
    <span jhiTranslate="ristoHubAlfaApp.profiloRistoratore.home.title">ProfiloRistoratores</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="ristoHubAlfaApp.profiloRistoratore.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-profilo-ristoratore"
        [routerLink]="['/profilo-ristoratore/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="ristoHubAlfaApp.profiloRistoratore.home.createLabel">Genera un nuovo Profilo Ristoratore</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (profiloRistoratores().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="ristoHubAlfaApp.profiloRistoratore.home.notFound">No Profilo Ristoratores found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="livello">
              <div class="d-flex">
                <span jhiTranslate="ristoHubAlfaApp.profiloRistoratore.livello">Livello</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="user.login">
              <div class="d-flex">
                <span jhiTranslate="ristoHubAlfaApp.profiloRistoratore.user">User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (profiloRistoratore of profiloRistoratores(); track trackId(profiloRistoratore)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/profilo-ristoratore', profiloRistoratore.id, 'view']">{{ profiloRistoratore.id }}</a>
              </td>
              <td [jhiTranslate]="'ristoHubAlfaApp.LivelloUtente.' + (profiloRistoratore.livello ?? 'null')">
                {{
                  { null: '', LIVELLO_1: 'LIVELLO_1', LIVELLO_2: 'LIVELLO_2', LIVELLO_3: 'LIVELLO_3' }[profiloRistoratore.livello ?? 'null']
                }}
              </td>
              <td>
                {{ profiloRistoratore.user?.login }}
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/profilo-ristoratore', profiloRistoratore.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizza</span>
                  </a>

                  <a
                    [routerLink]="['/profilo-ristoratore', profiloRistoratore.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Modifica</span>
                  </a>

                  <button type="submit" (click)="delete(profiloRistoratore)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Elimina</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
