@if (contattoItem) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(contattoItem.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="contattoItemDeleteDialogHeading" jhiTranslate="entity.delete.title">
        Conferma operazione di cancellazione
      </h4>
    </div>

    <div class="modal-body">
      <jhi-alert-error />
      <p
        id="jhi-delete-contattoItem-heading"
        jhiTranslate="ristoHubAlfaApp.contattoItem.delete.question"
        [translateValues]="{ id: contattoItem.id }"
      >
        Sei sicuro di volere eliminare Contatto Item {{ contattoItem.id }}?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annulla</span>
      </button>

      <button id="jhi-confirm-delete-contattoItem" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Elimina</span>
      </button>
    </div>
  </form>
}
