<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (allergene(); as allergeneRef) {
      <div>
        <h2 data-cy="allergeneDetailsHeading"><span jhiTranslate="ristoHubAlfaApp.allergene.detail.title">Allergene</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ allergeneRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="ristoHubAlfaApp.allergene.nome">Nome</span></dt>
          <dd>
            <span>{{ allergeneRef.nome }}</span>
          </dd>
          <dt><span jhiTranslate="ristoHubAlfaApp.allergene.tipo">Tipo</span></dt>
          <dd>
            <span [jhiTranslate]="'ristoHubAlfaApp.TipoAllergene.' + (allergeneRef.tipo ?? 'null')">{{
              { null: '', DEFAULT: 'DEFAULT', PERSONALIZZATO: 'PERSONALIZZATO' }[allergeneRef.tipo ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="ristoHubAlfaApp.allergene.nomeDefault">Nome Default</span></dt>
          <dd>
            <span [jhiTranslate]="'ristoHubAlfaApp.NomeAllergeneDefault.' + (allergeneRef.nomeDefault ?? 'null')">{{
              {
                null: '',
                GLUTINE: 'GLUTINE',
                UOVO: 'UOVO',
                LATTE: 'LATTE',
                ARACHIDI: 'ARACHIDI',
                FRUTTA_A_GUSCIO: 'FRUTTA_A_GUSCIO',
                PESCE: 'PESCE',
                MOLLUSCHI: 'MOLLUSCHI',
                CROSTACEI: 'CROSTACEI',
                SOIA: 'SOIA',
                SESAMO: 'SESAMO',
                SEDANO: 'SEDANO',
                SENAPE: 'SENAPE',
                SOLFITI: 'SOLFITI',
                LUPINI: 'LUPINI',
              }[allergeneRef.nomeDefault ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="ristoHubAlfaApp.allergene.prodotti">Prodotti</span></dt>
          <dd>
            @for (prodotti of allergeneRef.prodottis; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/prodotto', prodotti.id, 'view']">{{ prodotti?.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Indietro</span>
        </button>

        <button type="button" [routerLink]="['/allergene', allergeneRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Modifica</span>
        </button>
      </div>
    }
  </div>
</div>
