<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (portata(); as portataRef) {
      <div>
        <h2 data-cy="portataDetailsHeading"><span jhiTranslate="ristoHubAlfaApp.portata.detail.title">Portata</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ portataRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="ristoHubAlfaApp.portata.tipo">Tipo</span></dt>
          <dd>
            <span [jhiTranslate]="'ristoHubAlfaApp.TipoPortata.' + (portataRef.tipo ?? 'null')">{{
              { null: '', DEFAULT: 'DEFAULT', PERSONALIZZATA: 'PERSONALIZZATA' }[portataRef.tipo ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="ristoHubAlfaApp.portata.nomeDefault">Nome Default</span></dt>
          <dd>
            <span [jhiTranslate]="'ristoHubAlfaApp.NomePortataDefault.' + (portataRef.nomeDefault ?? 'null')">{{
              {
                null: '',
                ANTIPASTO: 'ANTIPASTO',
                PRIMO: 'PRIMO',
                SECONDO: 'SECONDO',
                CONTORNO: 'CONTORNO',
                DOLCE: 'DOLCE',
                BEVANDA: 'BEVANDA',
                VINO_ROSSO: 'VINO_ROSSO',
                VINO_BIANCO: 'VINO_BIANCO',
                VINO_ROSATO: 'VINO_ROSATO',
                BIRRA: 'BIRRA',
                DIGESTIVO: 'DIGESTIVO',
              }[portataRef.nomeDefault ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="ristoHubAlfaApp.portata.nomePersonalizzato">Nome Personalizzato</span></dt>
          <dd>
            <span>{{ portataRef.nomePersonalizzato }}</span>
          </dd>
          <dt><span jhiTranslate="ristoHubAlfaApp.portata.ordine">Ordine</span></dt>
          <dd>
            <span>{{ portataRef.ordine }}</span>
          </dd>
          <dt><span jhiTranslate="ristoHubAlfaApp.portata.menu">Menu</span></dt>
          <dd>
            @if (portata()!.menu) {
              <div>
                <a [routerLink]="['/menu', portata()!.menu?.id, 'view']">{{ portataRef.menu?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Indietro</span>
        </button>

        <button type="button" [routerLink]="['/portata', portataRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Modifica</span>
        </button>
      </div>
    }
  </div>
</div>
