<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (portata(); as portataRef) {
      <div>
        <h2 data-cy="portataDetailsHeading"><span jhiTranslate="ristoHubApp.portata.detail.title">Portata</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="ristoHubApp.portata.id">Id</span></dt>
          <dd>
            <span>{{ portataRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="ristoHubApp.portata.tipo">Tipo</span></dt>
          <dd>
            <span [jhiTranslate]="'ristoHubApp.TipoPortata.' + (portataRef.tipo ?? 'null')">{{ portataRef.tipo }}</span>
          </dd>
          <dt><span jhiTranslate="ristoHubApp.portata.nomeDefault">Nome Default</span></dt>
          <dd>
            <span [jhiTranslate]="'ristoHubApp.NomePortataDefault.' + (portataRef.nomeDefault ?? 'null')">{{
              portataRef.nomeDefault
            }}</span>
          </dd>
          <dt><span jhiTranslate="ristoHubApp.portata.nomePersonalizzato">Nome Personalizzato</span></dt>
          <dd>
            <span>{{ portataRef.nomePersonalizzato }}</span>
          </dd>
          <dt><span jhiTranslate="ristoHubApp.portata.ordine">Ordine</span></dt>
          <dd>
            <span>{{ portataRef.ordine }}</span>
          </dd>
          <dt><span jhiTranslate="ristoHubApp.portata.menu">Menu</span></dt>
          <dd>
            @if (portataRef.menu) {
              <div>
                <a [routerLink]="['/menu', portataRef.menu.id, 'view']">{{ portataRef.menu.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Indietro</span>
        </button>

        <button type="button" [routerLink]="['/portata', portataRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Modifica</span>
        </button>
      </div>
    }
  </div>
</div>
