<div>
  <h2 id="page-heading" data-cy="MenuHeading">
    <span jhiTranslate="ristoHubApp.menu.home.title">Menus</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="ristoHubApp.menu.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-menu"
        [routerLink]="['/menu/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="ristoHubApp.menu.home.createLabel">Genera un nuovo Menu</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (menus().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="ristoHubApp.menu.home.notFound">No Menus found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="ristoHubApp.menu.id">Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nome">
              <div class="d-flex">
                <span jhiTranslate="ristoHubApp.menu.nome">Nome</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="descrizione">
              <div class="d-flex">
                <span jhiTranslate="ristoHubApp.menu.descrizione">Descrizione</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="attivo">
              <div class="d-flex">
                <span jhiTranslate="ristoHubApp.menu.attivo">Attivo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="templateStyle">
              <div class="d-flex">
                <span jhiTranslate="ristoHubApp.menu.templateStyle">Template Style</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="colorePrimario">
              <div class="d-flex">
                <span jhiTranslate="ristoHubApp.menu.colorePrimario">Colore Primario</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="coloreSecondario">
              <div class="d-flex">
                <span jhiTranslate="ristoHubApp.menu.coloreSecondario">Colore Secondario</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="fontMenu">
              <div class="d-flex">
                <span jhiTranslate="ristoHubApp.menu.fontMenu">Font Menu</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ristoratore.login">
              <div class="d-flex">
                <span jhiTranslate="ristoHubApp.menu.ristoratore">Ristoratore</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (menu of menus(); track trackId(menu)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/menu', menu.id, 'view']">{{ menu.id }}</a>
              </td>
              <td>{{ menu.nome }}</td>
              <td>{{ menu.descrizione }}</td>
              <td>{{ menu.attivo }}</td>
              <td>{{ menu.templateStyle }}</td>
              <td>{{ menu.colorePrimario }}</td>
              <td>{{ menu.coloreSecondario }}</td>
              <td>{{ menu.fontMenu }}</td>
              <td>
                {{ menu.ristoratore?.login }}
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/menu', menu.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizza</span>
                  </a>

                  <a [routerLink]="['/menu', menu.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Modifica</span>
                  </a>

                  <button type="submit" (click)="delete(menu)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Elimina</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
