<div>
  <h2 id="page-heading" data-cy="ContattoItemHeading">
    <span jhiTranslate="ristoHubAlfaApp.contattoItem.home.title">ContattoItems</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="ristoHubAlfaApp.contattoItem.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-contatto-item"
        [routerLink]="['/contatto-item/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="ristoHubAlfaApp.contattoItem.home.createLabel">Genera un nuovo Contatto Item</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (contattoItems().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="ristoHubAlfaApp.contattoItem.home.notFound">No Contatto Items found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tipo">
              <div class="d-flex">
                <span jhiTranslate="ristoHubAlfaApp.contattoItem.tipo">Tipo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valore">
              <div class="d-flex">
                <span jhiTranslate="ristoHubAlfaApp.contattoItem.valore">Valore</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="etichetta">
              <div class="d-flex">
                <span jhiTranslate="ristoHubAlfaApp.contattoItem.etichetta">Etichetta</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ordine">
              <div class="d-flex">
                <span jhiTranslate="ristoHubAlfaApp.contattoItem.ordine">Ordine</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lista.id">
              <div class="d-flex">
                <span jhiTranslate="ristoHubAlfaApp.contattoItem.lista">Lista</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (contattoItem of contattoItems(); track trackId(contattoItem)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/contatto-item', contattoItem.id, 'view']">{{ contattoItem.id }}</a>
              </td>
              <td [jhiTranslate]="'ristoHubAlfaApp.TipoContatto.' + (contattoItem.tipo ?? 'null')">
                {{
                  {
                    null: '',
                    TELEFONO: 'TELEFONO',
                    EMAIL: 'EMAIL',
                    SITO_WEB: 'SITO_WEB',
                    FACEBOOK: 'FACEBOOK',
                    INSTAGRAM: 'INSTAGRAM',
                    X: 'X',
                    YOUTUBE: 'YOUTUBE',
                    TIKTOK: 'TIKTOK',
                    TELEGRAM: 'TELEGRAM',
                    MESSENGER: 'MESSENGER',
                    THREADS: 'THREADS',
                    SNAPCHAT: 'SNAPCHAT',
                    WHATSAPP: 'WHATSAPP',
                    GOOGLE: 'GOOGLE',
                    TRIPADVISOR: 'TRIPADVISOR',
                  }[contattoItem.tipo ?? 'null']
                }}
              </td>
              <td>{{ contattoItem.valore }}</td>
              <td>{{ contattoItem.etichetta }}</td>
              <td>{{ contattoItem.ordine }}</td>
              <td>
                @if (contattoItem.lista) {
                  <div>
                    <a [routerLink]="['/lista-contatti', contattoItem.lista.id, 'view']">{{ contattoItem.lista.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/contatto-item', contattoItem.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizza</span>
                  </a>

                  <a [routerLink]="['/contatto-item', contattoItem.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Modifica</span>
                  </a>

                  <button type="submit" (click)="delete(contattoItem)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Elimina</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
